/* Adicionar aqui toda a estilização criada para sua aplicação. */
body {
    margin: 0; 
    font-family: sans-serif;

}

:root{
    --azul:#32b9cd;
    --amarela: #e3b062;
}


/*herder*/

.header{
    background-color: black;
    border-bottom: 3px solid var(--azul);
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
}


.titulo{
    color:var(--azul);
}

.navbar{
    display: flex;
    justify-content: space-between;
    color: var(--amarela);
    list-style: none;
    width: 300px;
}
.navbar a {
    color: var(--amarela);
    text-decoration: none;
}
.agora{
    font-weight: bolder;
}

/*Banner */
.banner{
    height: 400px;
    width: 100;
    background-image: url("../assets/imgs/bg-jelly-fish-para-home.png");
    background-size: cover;
}

.banner .container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center ;
}
.banner .container p {
    width: 170px;
    margin: 0;
    color: white;
    font-size: 24px;

}
.banner .container span{
    font-weight: bolder;

}

/* Missão e valores*/
.social{
    height: 400px;
    width: 100%;
    background-color: #dcdcdc;
}
.social .container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxes {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.box img {
    width: 120px;
    height: 120px;
}
.box h4{
    margin: 0;
    margin-top:10px ;
    color: #e4005a ;
    
}
/* footer */
.footer{
    height: 120px;
    width: 100%;
    background-color: var(--azul);

}
.footer .container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.footer h4{
    margin-bottom: 0;

}

.login .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 100%;
    background-image: url(../assets/imgs/bg-jelly-fish-para-home.png );
    background-size:cover;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(182, 182, 182);
    width: 50%;
    height: 250px;
    border-radius: 20px;
}
.card-login{
    width: 650px;
    background-color: #dcdcdc;
    margin: 137px ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;

}
.campo{
    color: #e4005a;
    font-weight: bolder;
    margin-top: 10px;
}
.card-login h2{
    color: #e4005a;

}
.formulario, .campo{
    width: 90%;
    display: flex;
    flex-direction: column;
}
.campo input{
    width: 110%;
    border:1px solid  var(--azul);
    border-radius: 10px;
    height: 30px;
    text-align: center;
    font-weight: bolder;
}
.botao{
    color: #e8e8e8;
    background-color:#e4005a;
    border-radius: 5px;
    border: #e4005a;
    width: 20%;
    height: 30px;
    align-self: center;
    font-weight: bolder;
  
}
/*Cadastro*/
.card-cadastro h2{

    color: #e4005a;
}
.card-cadastro{

    width: 650px;
    display: flex;
    justify-content: center;
    height: 550px;
    flex-direction: column;
    border-radius: 17px;
}